# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Archivos de configuración y bases de datos locales
*.sqlite3
*.db
.env
.DS_Store

# Carpetas de desarrollo y logs
logs/
*.log